@import "../../App.scss";

.nav-bar {
  font-family: "Cheese";
  background-color: $side-bar-color;
  display: inline-flex;
  align-items: flex-start;
  padding: 10px 30px;
  border-radius: 12px;
  gap: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 76px;

  .logo {
    text-align: center;
  }

  img {
    width: 60px;
  }

  ul {
    list-style: none;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    li {
      a {
        font-size: 15px;
        line-height: 16px;
        display: block;
        padding: 7px 0;
      }
      &:hover {
        cursor: pointer;
        svg {
          color: $secondary-color;
        }
      }
    }
  }
}

nav {
  display: flex;
  gap: 50px;
  margin: 0 40px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  a {
    padding-top: 8\px;
    font-size: 22px;
    color: $icons-color;
    height: 51px;
    text-decoration: none;
    line-height: 51px;
    position: relative;
    margin: 0 auto;

    i {
      transition: all 0.3s ease-out;
    }

    &:hover {
      svg {
        opacity: 0;
      }
      &:after {
        color: $primary-color;
        opacity: 1;
      }
    }

    &:after {
      content: "";
      font-size: 12px;
      letter-spacing: 2px;
      opacity: 0;
      position: absolute;
      bottom: -5px;
      left: -12px;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      width: 100%;
      display: block;
      text-align: center;
    }

    &:first-child {
      &:after {
        content: "HOME";
      }
    }
    &:nth-child(2) {
      &:after {
        content: "ABOUT";
      }
    }
    &:nth-child(3) {
      &:after {
        content: "SKILLS";
      }
    }
    &:nth-child(4) {
      &:after {
        content: "WORK";
      }
    }
    &:nth-child(5) {
      &:after {
        content: "CONTACT";
      }
    }
  }
  a.active {
    svg {
      color: $secondary-color;
    }
  }
}

.hanged-monke {
  position: absolute;
  top: 0;
  width: 50px;
  right: -30px;
  opacity: 0;
  animation: myBounceInRight 2.5s ease-out forwards;
}
