* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #a5b68d;
  overflow: hidden;
}
